body {
    background-color: black;
}

.loader {
    margin-top: 20%;
    margin-left: 20%;
    display: inline-block;
}


.loader_ball {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(179, 108, 249);
    background-color: black;
    margin-inline: 1px;
    border-radius: 50%;
    animation: bounce 700ms alternate infinite;
    /* animation: rotate 2s linear infinite; */
}

.loader_ball_heart {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(179, 108, 249);
    background-color: black;
    margin-inline: 1px;
    border-radius: 50%;
    /* animation: bounce 700ms alternate infinite; */
    animation: rotate 2s linear infinite;
}


.loader_triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: red;
  animation: reverse 2s linear infinite;
}
.loader_ball:nth-child(2) {
    animation-delay: 150ms;
    margin: 50px;
    animation-fill-mode: forwards;
    z-index: 3;
    border: 1px solid red;
    background-color: black;
}

.loader_ball:nth-child(3) {
    margin: -50px;
    animation-delay: 300ms;

    border: 1px solid yellow;
    background-color: black;
}

.loader_ball:nth-child(4) {
    margin-left: -50px;
    margin-top: 50px;
    animation-delay: 300ms;
    border: 1px solid green;
    background-color: black;
}

.loader_ball:nth-child(5) {
    margin-left: 50px;
    margin-top: -50px;
    animation-delay: 300ms;
    border: 1px solid white;
    background-color: black;
}

@keyframes bounce {
    0% {
        transform: scaleY(1);
    }

    10% {
        transform: scale(1.05);
    }

    20% {
        transform: scale(1.1);
    }

    30% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.15);
    }

    60% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1.05);
    }

    0% {
        transform: scale(1);
    }
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}